<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">faza - wybór zwycięzcy</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-size-1 has-text-centered">
      <div class="column is-two-fifths">
        <a class="has-text-link">player1</a>
      </div>
      <div class="column is-one-fifth">
        <p>vs</p>
      </div>
      <div class="column is-two-fifths">
        <a class="has-text-danger">player2</a>
      </div>
    </div>
  </div>

</section>
