<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Kategorie</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="field" id="questions"></div>
    <app-add-question></app-add-question>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link is-large" id="submit">Wyślij</button>
      </div>
      <div class="control">
        <button class="button is-text is-large">Cofnij</button>
      </div>
    </div>
  </div>
</section>
